.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
:root {
    --primary-color: #EDEDED; 
    --secondary-color: #FFD15B;
    --text-color: black;
    --text-title:grey;
    --font-family-text: 'Manrope', sans-serif;
    --font-family-title: 'Anton', sans-serif;
  }
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    
}
.header{
    background-image: url("../assets/img/header.jpg") ;
    background-position: center;
    height:567px;
    width:100%;
    max-width: 1440px;
    align-self: center;
   

}
.header__logo img{
    width: 207px;
    height:25.3px;
    padding: 51px 69px;
}


.search__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:40px;

}
.search__section--title{
    color:var(--secondary-color);
    font-family: "Anton", sans-serif;
    font-size: 44px;
}

.search__bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width:100%;
    position: relative;
}
.search__bar input[type=text]{
    width: 954px;
    height: 72px;
    border-radius: 10px 0 0 10px ;
    /*float: center;*/
    border: none;
    font-size: 17px;

}
.search__bar input:focus{
    outline: none;
    border: none; 
  }
.clear-button {
    background: white;
    border: none;
    font-size: 16px;
    color: grey; 
    cursor: pointer;
    position: absolute;
    right: 18%; 
    top: 50%;
    transform: translateY(-50%); 
    display: none; 
  }
  #searchInput {
    padding-right: 30px;
  }
.search__bar--button{
    border-radius: 0 10px 10px 0;
    background-color: white;
    height: 74px;
    width: 72px;
}

.search__bar--button button {
    display: block;
    cursor: pointer;
    width: 51px;
    height: 52px;
    border: none;
    border-radius: 10px;
    background: black;
    margin: 10px;
    position: relative;
    padding: 0;
    transition:  0.4s ease-in-out;
}

.search__bar--button button:hover {
    background: var(--secondary-color);
    transition: 0.2s ease-in-out;
}

.search__bar--button .search-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s ease-in-out; 
}

.search__bar--button .hover {
    display: none; 
}

.search__bar--button:hover .normal {
    display: none; 
}

.search__bar--button:hover .hover {
    display: block; 
}



#main{
    background-color: var(--primary-color);
    width:100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;

}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    margin: 50px;
    width:100%;
    gap: 45px;

}
.card{ 
    align-items:center;
    align-self: center;
    margin:20px;
    width: 380px;
    height: 730px;
    border-radius:20px;
    background-color: white;
}
.card__img{
    border-radius:20px 20px 0 0;
    width: 380px;
    height:253px;
    object-fit: cover;
    object-position: center;
}

.card__menu h2{
font-family: var(--font-family-title);
margin: 25px;
font-size: 18px;
font-weight: 100;
}
.card__text{
    margin: 25px;
    font-family: var(--font-family-text);
}
.card__text h3{

    color: grey;
    font-size: 12px;
    font-weight: 600;
   
}
.card__description{
    display:inline-block;
    height:80px;
    overflow: hidden;
    white-space: wrap;
    font-size: 14px;
}
.card__text ul{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 0;
    gap:20px;
    font-size: 14px;
}
.qtyunit{
    color: grey;
}
.temps{
    display: inline-block;
    position:relative;
    height: 26px;
    width: 65px;
    background: var(--secondary-color);
    padding-top:8px;
    padding-left: 22px;
    border-radius: 15px;
    top:-240px;
    right:-270px;
    font-family: var(--font-family-text);
    

}
@media screen and (max-width: 1350px){
    .cards{
        grid-template-columns: 1fr 1fr;
    }
    .search__section--title{
        font-size: 34px;
    }
}
@media screen and (max-width: 885px){
    .cards{
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr;
        margin: 0 30%;
    }
    .search__section--title{
        font-size: 24px;
    }
   
}